---
title: 404
layout: doc
permalink: 404.html
edit_link: https://github.com/eslint/eslint.github.io/edit/master/_pages/404.md
---

<h1 class="four-oh-four-header">
  4<img src="/assets/img/logo.svg" alt="ESLint Logo">4
</h1>
<h2>Something’s missing</h2>
<h3>
  <a href="/">Go home</a> or <a href="/docs/rules">check out the rules</a>?
</h3>
<a href="/docs/user-guide/getting-started" class="btn btn-default btn-lg btn-block btn-getting-started" role="button">
  Get Started with ESLint »
</a>
