<!-- Ethical Ads -->
<div class="bordered" data-ea-publisher="eslint-org" data-ea-type="image">
    <div class="eslint-ad eslint-image-ad">
        <div class="eslint-ad-content">
            <a href="https://opencollective.com/eslint" rel="nofollow" target="_blank"><img src="/assets/img/logo.svg"></a>
            <div class="eslint-ad-text"><a href="http://opencollective.com/eslint" rel="nofollow" target="_blank"><strong>Sponsor ESLint.</strong> ESLint depends on donations for ongoing maintenance and development.</a></div>
        </div>
    </div>
</div>
