<hr>
<div class="container">
  <footer>
    <ul class="list-inline">
      {% if page.edit_link %}
        <li><a href="{{ page.edit_link }}">Edit this page</a></li>
      {% else %}
        <li><a href="https://github.com/eslint/website/edit/master/{{ page.inputPath }}">Edit this page</a></li>
      {% endif %}
      <li><a href="https://groups.google.com/group/eslint">Mailing List</a></li>
      <li><a href="https://github.com/eslint/eslint">GitHub</a></li>

      <li><a href="https://twitter.com/geteslint">Twitter</a></li>
      <li><a href="https://gitter.im/eslint/eslint">Chat Room</a></li>

    </ul>
    <p>Copyright <a href="https://openjsf.org">OpenJS Foundation</a> and ESLint contributors. All rights reserved. The <a href="https://openjsf.org">OpenJS Foundation</a> has registered trademarks and uses trademarks.  For a list of trademarks of the <a href="https://openjsf.org">OpenJS Foundation</a>, please see our <a href="https://trademark-policy.openjsf.org">Trademark Policy</a> and <a href="https://trademark-list.openjsf.org">Trademark List</a>.  Node.js is a trademark of Joyent, Inc. and is used with its permission. Trademarks and logos not indicated on the <a href="https://trademark-list.openjsf.org">list of OpenJS Foundation trademarks</a> are trademarks&trade; or registered&reg; trademarks of their respective holders. Use of them does not imply any affiliation with or endorsement by them.</p>
    <p><a href="https://openjsf.org">The OpenJS Foundation</a> | <a href="https://terms-of-use.openjsf.org">Terms of Use</a> | <a href="https://privacy-policy.openjsf.org">Privacy Policy</a> | <a href="https://bylaws.openjsf.org">OpenJS Foundation Bylaws</a> | <a href="https://trademark-policy.openjsf.org">Trademark Policy</a> | <a href="https://trademark-list.openjsf.org">Trademark List</a> | <a href="https://www.linuxfoundation.org/cookies">Cookie Policy</a></p>
  </footer>
</div>
<script src="/assets/js/main.js"></script>
