
    <hr>

    <div class="container">

      <footer>
        <ul class="list-inline">
          <li><a href="https://groups.google.com/group/eslint">Mailing List</a></li>
          <li><a href="https://github.com/eslint/eslint">GitHub</a></li>
          <li><a href="https://twitter.com/geteslint">Twitter</a></li>
        </ul>
      </footer>
    </div><!-- /.container -->

  <script src="/js/vendor/jquery-1.10.2.min.js"></script>
  <script src="/js/vendor/bootstrap.min.js"></script>
  <script src="/js/vendor/anchor.min.js"></script>
  <script src="/js/app/main.js"></script>
</body>
</html>
