
    <hr>

    <div class="container">

      <footer>
        <ul class="list-inline">
          <li><a href="https://groups.google.com/group/eslint">Mailing List</a></li>
          <li><a href="https://github.com/eslint/eslint">GitHub</a></li>
          <li><a href="https://twitter.com/geteslint">Twitter</a></li>
        </ul>
      </footer>
    </div><!-- /.container -->

  <script src="/js/vendor/jquery-1.10.2.min.js"></script>
  <script src="/js/vendor/bootstrap.min.js"></script>
  <script src="/js/vendor/anchor.min.js"></script>
  <script>
    $(document).ready(function() {
        anchors.add('.doc h2, .doc h3, .doc h4, .blog h2, .blog h3, .blog h4');
    });
  </script>
</body>
</html>
