<hr>
<div class="container">
  <footer>
    <ul class="list-inline">
      {% if page.edit_link %}
        <li><a href="{{ page.edit_link }}">Edit this page</a></li>
      {% else %}
        <li><a href="https://github.com/eslint/website/edit/master/{{ page.inputPath }}">Edit this page</a></li>
      {% endif %}
      <li><a href="https://groups.google.com/group/eslint">Mailing List</a></li>
      <li><a href="https://github.com/eslint/eslint">GitHub</a></li>
      <li><a href="https://twitter.com/geteslint">Twitter</a></li>
      <li><a href="https://gitter.im/eslint/eslint">Chat Room</a></li>
      <li>Copyright JS Foundation and other contributors, <a href="https://js.foundation">https://js.foundation/</a></li>
    </ul>
  </footer>
</div>
<script src="/assets/js/main.js"></script>
