<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>ESLint UI concept</title>
  <link rel="stylesheet" href="/styles/main.936b04d2.css"/>
  <link rel="icon" href="/img/favicon.512x512.png">
  <script src="//use.edgefonts.net/source-sans-pro:n3,n4,n6,n7.js"></script>
</head>
<body>

    <div class="navbar navbar-default navbar-demo" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">
            <img alt="" src="/img/logo.svg">
            <span>ES</span>Lint</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/docs/about">About</a></li>
            <li><a href="/docs/rules">Rules</a></li>
            <li><a href="/docs/developer-guide">Developer Guide</a></li>
            <li><a href="/docs/command-line-interface">Command Line</a></li>
            <!--<li><a href="/interactive.html">Demo</a></li>-->
          </ul>
        </div>
      </div><!-- /.container -->
    </div><!-- /.navbar -->
