    <div class="jumbotron section-intro">
      <div class="container i2">
        <div class="row">
          <div class="col-md-8 col-sm-8">
            <h1 itemprop="name">ESLint</h1>
            <h2 itemprop="description">The pluggable linting <span itemprop="applicationCategory">utility</span> for JavaScript and JSX</h2>
          </div>
          <div class="col-md-4 col-sm-4"></div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
              <a class="btn btn-default btn-lg btn-block btn-getting-started" href="{{ site.url }}/docs/user-guide/getting-started" role="button">Get Started »</a>
          </div>
        </div>
      </div>
    </div><!-- /.jumbotron -->
