    <div class="jumbotron section-intro">
      <div class="container i2">
        <h1 itemprop="name">ESLint</h1>
        <h2 itemprop="description">Find and fix problems in your JavaScript code</h2>
        <a class="btn btn-default btn-lg" href="/docs/user-guide/getting-started">Get Started »</a>
      </div>
    </div><!-- /.jumbotron -->
<!-- Photo by Vincentiu Solomon on Unsplash -->