@color_1: #999988; /* Comment */
@color_2: #a61717; /* Error */
@color_3: #000000; /* Keyword, Operator, Generic, Keyword, Operator */
@color_4: #999999; /* Name.Builtin.Pseudo */
@color_5: #aa0000; /* Generic.Error, Generic.Traceback */
@color_6: #888888; /* Generic.Output */
@color_7: #555555; /* Generic.Prompt, Name.Namespace */
@color_8: #aaaaaa; /* Generic.Subheading */
@color_9: #445588; /* Keyword.Type, Name.Class */
@color_10: #009999; /* Literal.Number */
@color_11: #d01040; /* Literal.String */
@color_12: #008080; /* Name.Attribute, Name.Constant, Name.Variable */
@color_13: #0086B3; /* Name.Builtin */
@color_14: #3c5d5d; /* Name.Decorator */
@color_15: #800080; /* Name.Entity */
@color_16: #990000; /* Name.Exception, Name.Function, Name.Label */
@color_17: #000080; /* Name.Tag */
@color_18: #bbbbbb; /* Text.Whitespace */
@color_19: #009926; /* Literal.String.Regex */
@color_20: #990073; /* Literal.String.Symbol */

.highlight {
	.hll {
		background-color: #ffffcc;
	}
	.c {
		color: @color_1;
		font-style: italic;
	}
	.err {
		color: @color_2;
		background-color: #e3d2d2; /* Error */
	}
	.k {
		color: @color_3;
		font-weight: bold;
	}
	.o {
		color: @color_3;
		font-weight: bold;
	}
	.cm {
		color: @color_1;
		font-style: italic;
	}
	.cp {
		color: @color_4;
		font-weight: bold;
		font-style: italic;
	}
	.c1 {
		color: @color_1;
		font-style: italic;
	}
	.cs {
		color: @color_4;
		font-weight: bold;
		font-style: italic;
	}
	.gd {
		color: @color_3;
		background-color: #ffdddd; /* Generic.Deleted */
	}
	.ge {
		color: @color_3;
		font-style: italic;
	}
	.gr {
		color: @color_5;
	}
	.gh {
		color: @color_4;
	}
	.gi {
		color: @color_3;
		background-color: #ddffdd; /* Generic.Inserted */
	}
	.go {
		color: @color_6;
	}
	.gp {
		color: @color_7;
	}
	.gs {
		font-weight: bold;
	}
	.gu {
		color: @color_8;
	}
	.gt {
		color: @color_5;
	}
	.kc {
		color: @color_3;
		font-weight: bold;
	}
	.kd {
		color: @color_3;
		font-weight: bold;
	}
	.kn {
		color: @color_3;
		font-weight: bold;
	}
	.kp {
		color: @color_3;
		font-weight: bold;
	}
	.kr {
		color: @color_3;
		font-weight: bold;
	}
	.kt {
		color: @color_9;
		font-weight: bold;
	}
	.m {
		color: @color_10;
	}
	.s {
		color: @color_11;
	}
	.na {
		color: @color_12;
	}
	.nb {
		color: @color_13;
	}
	.nc {
		color: @color_9;
		font-weight: bold;
	}
	.no {
		color: @color_12;
	}
	.nd {
		color: @color_14;
		font-weight: bold;
	}
	.ni {
		color: @color_15;
	}
	.ne {
		color: @color_16;
		font-weight: bold;
	}
	.nf {
		color: @color_16;
		font-weight: bold;
	}
	.nl {
		color: @color_16;
		font-weight: bold;
	}
	.nn {
		color: @color_7;
	}
	.nt {
		color: @color_17;
	}
	.nv {
		color: @color_12;
	}
	.ow {
		color: @color_3;
		font-weight: bold;
	}
	.w {
		color: @color_18;
	}
	.mf {
		color: @color_10;
	}
	.mh {
		color: @color_10;
	}
	.mi {
		color: @color_10;
	}
	.mo {
		color: @color_10;
	}
	.sb {
		color: @color_11;
	}
	.sc {
		color: @color_11;
	}
	.sd {
		color: @color_11;
	}
	.s2 {
		color: @color_11;
	}
	.se {
		color: @color_11;
	}
	.sh {
		color: @color_11;
	}
	.si {
		color: @color_11;
	}
	.sx {
		color: @color_11;
	}
	.sr {
		color: @color_19;
	}
	.s1 {
		color: @color_11;
	}
	.ss {
		color: @color_20;
	}
	.bp {
		color: @color_4;
	}
	.vc {
		color: @color_12;
	}
	.vg {
		color: @color_12;
	}
	.vi {
		color: @color_12;
	}
	.il {
		color: @color_10;
	}
}
