{% include header %}
<div itemscope itemtype="http://schema.org/SoftwareApplication">
{% include menu %}
    {% include jumbotron %}
    <main class="container">
    {{ content }}
    </main>
</div>
{% include footer %}
