<!DOCTYPE html>
<html lang="en" class="no-js">
{% include head %}
{% if site.banner.text %}
  <body class="banner-displayed">
{% else %}
  <body>
{% endif %}
    {% include menu %}
    <main class="container">
        {{ content }}
    </main>
    {% include footer %}
</body>
</html>
