<!DOCTYPE html>
<html lang="en" class="no-js">
{% include head %}
{% if site.banner.text %}
  <body class="banner-displayed">
{% else %}
  <body>
{% endif %}
  {% include menu %}
  <main class="rule doc">
    <article class="container">
        <div class="eslint-ad-float hidden-xs hidden-sm">
          {%include ad %}
        </div>

      {{ content
        | replace: '<p>Examples of <strong>incorrect</strong> code', '<p class="incorrect icon">Examples of <strong>incorrect</strong> code'
        | replace: '<p>Example of <strong>incorrect</strong> code', '<p class="incorrect icon">Example of <strong>incorrect</strong> code'
        | replace: '<p>Examples of additional <strong>incorrect</strong> code', '<p class="incorrect icon">Examples of additional <strong>incorrect</strong> code'
        | replace: '<p>Example of additional <strong>incorrect</strong> code', '<p class="incorrect icon">Example of additional <strong>incorrect</strong> code'
        | replace: '<p>Examples of <strong>correct</strong> code', '<p class="correct icon">Examples of <strong>correct</strong> code'
        | replace: '<p>Example of <strong>correct</strong> code', '<p class="correct icon">Example of <strong>correct</strong> code'
        | replace: '<p>Examples of additional <strong>correct</strong> code', '<p class="correct icon">Examples of additional <strong>correct</strong> code'
        | replace: '<p>Example of additional <strong>correct</strong> code', '<p class="correct icon">Example of additional <strong>correct</strong> code'
        | replace: '<p>(removed) ', '<p class="removed icon">'
        | replace: '<p>(recommended) ', '<p class="recommended icon">'
        | replace: '<p>(fixable) ', '<p class="fixable icon">'
        | replace: '<p>(hasSuggestions) ', '<p class="hasSuggestions icon">'
      }}
    </article>
  </main>
  {% include footer %}
</body>
</html>
