<!DOCTYPE html>
<html lang="en" class="no-js">
{% include head %}
{% if site.banner.text %}
  <body class="banner-displayed">
{% else %}
  <body>
{% endif %}
  {% include menu %}
  <main class="rules doc">
    <article class="container">
      <div class="eslint-ad-float hidden-xs hidden-sm">
        {%include ad %}
      </div>

      {{ content
        | replace: '(recommended)', '<span title="recommended" aria-label="recommended">✓</span>'
        | replace: '(fixable)', '<span title="fixable" aria-label="fixable">🔧</span>'
        | replace: '(hasSuggestions)', '<span title="hasSuggestions" aria-label="hasSuggestions">💡</span>'
      }}
    </article>
  </main>
  {% include footer %}
</body>
</html>
