#carbonads {
    float: right;
    margin: 20px 0 20px 20px;
    border: 2px solid #f4f4f4;
    padding: 15px;
}

.carbon-text {
    display: block;
    width: 130px;
    font-size: 75%;
}

.carbon-poweredby {
    float: right;
    font-size: 60%;
}

pre {
    clear: both;
}
