.btn-getting-started {
  margin-top: 30px;
}

/* Prevent long code from wrapping, scroll instead */
code[data-lang] {
  white-space: pre;
}

main.doc .highlight pre {
  overflow-x: auto;
  word-wrap: normal;
}

/* We need to push the content because of the fixed header */
body {
  padding-top: 80px;
}
/* Allow anchors to not be hidden by the fixed header */
h1:target:before,
h2:target:before,
h3:target:before,
h4:target:before,
h5:target:before,
h6:target:before {
  content: "";
  display: block;
  margin-top: -80px;
  height: 80px;
  width: 1px;
}

/* icon margins for rules page */
.glyphicon {
  margin: 0 2px;
}

td .glyphicon {
  margin: 0; /* within table in rules page */
}

th,
td {
  padding-left: 0.5em;
  min-width: 1em; /* width of glyphicon for a column of empty cells */
}

th:first-child,
td:first-child {
  padding-left: 0;
}

tr {
  vertical-align: baseline;
}

p.incorrect + div + div + div > pre, /* vars-on-top */
p.incorrect + div + div > pre, /* no-continue */
p.incorrect + div > pre {
  background-color: #fff6f6; /* light red hsl(0,100%,98%) */
}

p.correct + div + div + div > pre, /* vars-on-top */
p.correct + div + div > pre, /* no-continue */
p.correct + div > pre {
  background-color: #f6fff6; /* light green hsl(120,100%,98%) */
}

@media (min-width: 768px) {

  p.incorrect + div + div + div > pre:before, /* vars-on-top */
  p.incorrect + div + div > pre:before, /* no-continue */
  p.incorrect + div > pre:before {
    content: "\e126"; /* thumbs-down */
    font-family: "Glyphicons Halflings";
    color: #4d4d4d; /* gray hsl(0,0%,30%) */
    position: absolute;
    left: -20px;
  }

  p.correct + div + div + div > pre:before, /* vars-on-top */
  p.correct + div + div > pre:before, /* no-continue */
  p.correct+div>pre:before {
    content: "\e125"; /* thumbs-up */
    font-family: "Glyphicons Halflings";
    color: #4d4d4d; /* gray hsl(0,0%,30%) */
    position: absolute;
    left: -20px;
  }

  p.fixable:before {
    content: "\e136"; /* wrench */
    font-family: "Glyphicons Halflings";
    color: #4d4d4d; /* gray hsl(0,0%,30%) */
    position: absolute;
    left: -20px;
  }

  p.fixable,
  .highlighter-rouge {
    position:relative;
  }
}
