.parserPanel {
    font-size: 12px;
    margin-bottom: 2em;
    height: 575px;
    vertical-align: top
}

.codePanel, .resultsPanel {
    height: 100%;
    overflow: auto;
    font-size: 12px;
}

.codePanel {
    resize: none;
}

.error {
    color: red;
}

pre {
    margin: 0;
}

label {
    font-weight: normal;
}

main.container {
    padding-top: 3em;
}